* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1, h2, h3, p{
  color: #fff;
  text-shadow: 5px 4px #282c34;
}

.button-div{
  margin-top: 10px;
}

.button{
  padding: 5px;
  border: black solid 4px;
  border-radius: 30px;
  font-size: 30px;
  animation-name: appear;
  animation-duration: 2s;
}

.button:hover{
  padding: 10px;
}

.recommendation{
  animation-name: appear;
  animation-duration: 2s;
}

.recommendation:hover{
  width: 20%;
}

@keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}